<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="The Internet" thread-count="2" parallel="tests">
    <test name="ChromeTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="testcases.TC01_File_Downloader_Page"/>
        </classes>
    </test>
</suite>